
.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dee298;
  background-image: url("https://www.transparenttextures.com/patterns/use-your-illusion.png");
  position: fixed;
  height: 400px;
  width: 100%;
  display: flex;
  z-index: 4;
  margin-top: 120px;
  color: #FFFFFF;
}

.avatar  img{
  height: 82%;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom:0;
  margin-bottom: 0
}

.username {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 50px;
  color: #ddecec;
}

@media all and (max-width: 800px) {

  .mediaQueries {
    display: flex;
    flex-direction: row;
    margin: 120px;
    padding: 20px 0 0 0;
  }

  .avatar-header {
    flex: 0.35;
    margin: 60px 20px 0 0;
    float: left;
    background-color: #000b38;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
    background-color: brown;
    color: white;
  }

  .container {
    padding-left: 140px;
    flex: 0.65;
    flex-direction: center;
    float: right;
  }
}